{% extends "base.html" %}

{% block title %}Page Not Found{% endblock %}

{% block description %}The requested page could not be found{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/not-found.css">
{% endblock %}

{% block content %}
<div class="not-found">
    <p class="not-found-code">404</p>
    <h2 class="not-found-title">Page Not Found</h2>
    <p class="not-found-message">The page you're looking for doesn't exist or has been moved.</p>
    <div class="not-found-actions">
        <a href="/" class="btn btn-edit">Go Home</a>
        <a href="/blog/" class="btn">Browse Blog</a>
        <a href="/search/" class="btn">Search</a>
    </div>
    <div class="not-found-suggestions">
        <h3 class="label-heading">You might be looking for</h3>
        <ul>
            <li><a href="/blog/">Recent blog posts</a></li>
            <li><a href="/raindrops/">Link blog</a></li>
            <li><a href="/about/">About page</a></li>
        </ul>
    </div>
</div>
{% endblock %}
